

#navbar {
    background-color: #222;
    color: #fff;
}

#introSection {
    top: 50px;
    position: relative;
    height: 280vh;
    justify-content: center;
    text-align: center;
    /*background-color: #272525;*/
}


#headingWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}


#heading {
    width: 100vw;
    z-index: 10;
    opacity: 0.5 !important;
}

#backgroundImg {
    position: absolute;
    background-image:url(../img/backgroundImg.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 100vw;
    opacity: 1;
}
