
#team {
    background-color: white;
    padding: 400px auto;
    color: #1b1d1f;
    
    padding-top: 200px;

}   

#members {
    margin: auto 10vw;
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 80vw;
    row-gap: 100px;

    justify-items: center; /* Horizontally centers content inside each cell */
}

.member {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
}

.member > img {
    grid-column: 1;
    height: 300px;
}

.member > h1 {
    grid-column: 2;
    font-family: Acumin-Bold;
    font-size: 30px;

} 

.member > h3 {
    grid-column: 2;
    grid-row: 2;
    font-family: Acumin-Light;
}

hr {
    width: 80vw;
    border-top: 2px #ebebeb solid !important;
    opacity: 1 !important;
}